{#
vim:filetype=htmljinja
#}
{% extends 'layout.html' %}
{%- import "_helpers.html" as h -%}

{% block content %}
<div id="sales-splash">
    <h1>The Debitor</h1>
    <h2>Just held an event or a party?</h2>
    <p>
        Who has paid for what? And who owes money to whom? No worries, you have The Debitor <small>(Oh, and it's free)</small>
    </p>
</div>
<form action="" method="post" id="create-event">
    {% for field in event_form %}
    {{ h.render_field(field) }}
    {% endfor %}
    <input type="submit" name="create_event" value="Create event" class="submit" />
</form>
<div id="info">
    <div class="description">
        <h3>What is The Debitor?</h3>
        <p>
            The Debitor is the easiest way to find out who should pay money to whom, after a party, vacation, bridge tournament or any other event where many different people pays for different expenses.
        </p>
        <p>
            Create your event, add people and expenses...
        </p>
    </div>
    <div class="screenshots">
        
    </div>
</div>
{% endblock %}

{% block inlinejs %}
    <script>
        $(document).ready(function () {
            var view = new debitor.views.Index({el: $('.screenshots')});
            view.render();
        });
    </script>
{% endblock %}
